In [163]:
import pandas as pd
import string
from nltk.corpus import stopwords

In [164]:
import nltk

In [165]:
nltk.download ('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Shweta\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [166]:
leads  = pd.read_excel("1000 leads.xlsx")

In [167]:
leads

,Lead Name,Location,Status,Status information
0,Raja,hyderabad,Not Converted,"14/8/prema: share me details, available in evn..."
1,Anirudh Reddy,pune,Not Converted,"14/8/prema: cal me tmrw, shared details to ema..."
2,Sapna Dewani,bangalore,Converted,16|AuG|moHan:rnr
3,suresh,mumbai,Not Converted,14/8/17(Surendra):i want only Server 16|AuG|mo...
4,Akshay Shinde,hyderabad,Not Converted,"14/8/prema:rnr 16/8/prema: gave info, he said ..."
...,...,...,...,...
996,vipin,bangalore,Not Converted,25/4/17(Surendra):please send me details tomor...
997,dheeraj,chennai,Not Converted,"24/4/17(prema): need CT, but our venue is far...."
998,kuldeep singh,bangalore,Not Converted,24/Apr/moHan:intrstd in evng batch trail perd ...
999,ankur sharma,bangalore,Not Converted,1/5/17(Surendra):please share me details 11/5/...
1000,Saugata Chakrabarti,bangalore,Not Converted,24/4/17(prema): shared details need only Cert....

In [168]:
leads ['Status '].replace ('Conveted','Converted',inplace=True)
leads ['Status '].replace ('NOt Converted','Not Converted',inplace=True)
leads ['Status '].replace ('Converted ','Converted',inplace=True)
leads ['Status '].replace ('Zero','No information',inplace=True)

In [169]:
leads ['Status '].unique()

array(['Not Converted', 'Converted', nan], dtype=object)

In [245]:
leads ['Status '].isnull().sum()

0

In [237]:
leads ['Location'].isnull().sum()

0

In [236]:
leads['Location'].fillna('not mentioned',inplace=True)

In [246]:
leads['Status information'].isnull().sum()

0

In [172]:
leads['Status '].fillna('not mentioned',inplace=True)

In [173]:
leads['Status information'].fillna('not mentioned',inplace=True)

In [174]:
leads.groupby('Status ').describe()

              Lead Name                          Location                    \
                  count unique          top freq    count unique        top
Status
Converted           131    128       Rashmi    2      128     19  bangalore
Not Converted       867    765       Suresh    5      849     51  bangalore
not mentioned         3      3  Vaijayanthi    1        3      3  hyderabad

                   Status information         \
              freq              count unique
Status
Converted       45                131    130
Not Converted  293                867    841
not mentioned    1                  3      3


                                                             top freq
Status
Converted                                          not mentioned    2
Not Converted                                      not mentioned   22
not mentioned  17/JulY/moHan:need cls room 20/JulY/moHan:not now    1

In [175]:
def message_text_process(mess):
    no_punctuation = [char for char in mess if char not in string.punctuation]
    no_punctuation = ''.join(no_punctuation)
    return [word for word in no_punctuation.split() if word.lower() 
            not in stopwords.words('english')]

In [176]:
leads[['Location','Status ','Status information']].head(5).apply(message_text_process)

Location                        [hyderabadpunebangaloremumbaihyderabad]
Status                [ConvertedNot, ConvertedConvertedNot, Converte...
Status information    [14/8/prema:, share, details,, available, evng...
dtype: object

In [177]:
from sklearn.feature_extraction.text import CountVectorizer #DTM

In [187]:
# # Create a new column 'Combined_Text' that contains the concatenated text
# Combined_Text = leads['Location'] + ' ' + leads['Status '] + ' ' + leads['Status information']

# # Display the DataFrame with the new 'Combined_Text' column
# #print(leads[['Location', 'Status', 'Status information', 'Combined_Text']])

In [193]:
# Import the pandas library if not already imported
import pandas as pd

# Assuming 'leads' is your DataFrame
leads['Combined_Text'] = leads['Location'] + ' ' + leads['Status '] + ' ' + leads['Status information']

# Display the updated DataFrame
print(leads)

                Lead Name   Location        Status   \
0                    Raja  hyderabad  Not Converted
1           Anirudh Reddy       pune  Not Converted
2            Sapna Dewani  bangalore      Converted
3                  suresh     mumbai  Not Converted
4           Akshay Shinde  hyderabad  Not Converted
...                   ...        ...            ...
996                 vipin  bangalore  Not Converted
997               dheeraj    chennai  Not Converted
998         kuldeep singh  bangalore  Not Converted
999          ankur sharma  bangalore  Not Converted
1000  Saugata Chakrabarti  bangalore  Not Converted

                                     Status information  \
0     14/8/prema: share me details, available in evn...
1     14/8/prema: cal me tmrw, shared details to ema...
2                                      16|AuG|moHan:rnr
3     14/8/17(Surendra):i want only Server 16|AuG|mo...
4     14/8/prema:rnr 16/8/prema: gave info, he said ...
...                                                 ...
996   25/4/17(Surendra):please send me details tomor...
997   24/4/17(prema): need CT, but our venue is far....
998   24/Apr/moHan:intrstd in evng batch trail perd ...
999   1/5/17(Surendra):please share me details 11/5/...
1000  24/4/17(prema): shared details need only Cert....

                                          Combined_Text
0     hyderabad Not Converted 14/8/prema: share me d...
1     pune Not Converted 14/8/prema: cal me tmrw, sh...
2                  bangalore Converted 16|AuG|moHan:rnr
3     mumbai Not Converted 14/8/17(Surendra):i want ...
4     hyderabad Not Converted 14/8/prema:rnr 16/8/pr...
...                                                 ...
996   bangalore Not Converted 25/4/17(Surendra):plea...
997   chennai Not Converted 24/4/17(prema): need CT,...
998   bangalore Not Converted 24/Apr/moHan:intrstd i...
999   bangalore Not Converted 1/5/17(Surendra):pleas...
1000  bangalore Not Converted 24/4/17(prema): shared...

[1001 rows x 5 columns]

In [195]:
leads

,Lead Name,Location,Status,Status information,Combined_Text
0,Raja,hyderabad,Not Converted,"14/8/prema: share me details, available in evn...",hyderabad Not Converted 14/8/prema: share me d...
1,Anirudh Reddy,pune,Not Converted,"14/8/prema: cal me tmrw, shared details to ema...","pune Not Converted 14/8/prema: cal me tmrw, sh..."
2,Sapna Dewani,bangalore,Converted,16|AuG|moHan:rnr,bangalore Converted 16|AuG|moHan:rnr
3,suresh,mumbai,Not Converted,14/8/17(Surendra):i want only Server 16|AuG|mo...,mumbai Not Converted 14/8/17(Surendra):i want ...
4,Akshay Shinde,hyderabad,Not Converted,"14/8/prema:rnr 16/8/prema: gave info, he said ...",hyderabad Not Converted 14/8/prema:rnr 16/8/pr...
...,...,...,...,...,...
996,vipin,bangalore,Not Converted,25/4/17(Surendra):please send me details tomor...,bangalore Not Converted 25/4/17(Surendra):plea...
997,dheeraj,chennai,Not Converted,"24/4/17(prema): need CT, but our venue is far....","chennai Not Converted 24/4/17(prema): need CT,..."
998,kuldeep singh,bangalore,Not Converted,24/Apr/moHan:intrstd in evng batch trail perd ...,bangalore Not Converted 24/Apr/moHan:intrstd i...
999,ankur sharma,bangalore,Not Converted,1/5/17(Surendra):please share me details 11/5/...,bangalore Not Converted 1/5/17(Surendra):pleas...
1000,Saugata Chakrabarti,bangalore,Not Converted,24/4/17(prema): shared details need only Cert....,bangalore Not Converted 24/4/17(prema): shared...

In [194]:
Combined_Text

0       hyderabad Not Converted 14/8/prema: share me d...
1       pune Not Converted 14/8/prema: cal me tmrw, sh...
2                    bangalore Converted 16|AuG|moHan:rnr
3       mumbai Not Converted 14/8/17(Surendra):i want ...
4       hyderabad Not Converted 14/8/prema:rnr 16/8/pr...
                              ...
996     bangalore Not Converted 25/4/17(Surendra):plea...
997     chennai Not Converted 24/4/17(prema): need CT,...
998     bangalore Not Converted 24/Apr/moHan:intrstd i...
999     bangalore Not Converted 1/5/17(Surendra):pleas...
1000    bangalore Not Converted 24/4/17(prema): shared...
Length: 1001, dtype: object

In [247]:
leads ['Combined_Text'].isnull().sum()

0

In [240]:
leads['Combined_Text'].fillna('not mentioned',inplace=True)

In [241]:
leads['Combined_Text'] = leads['Combined_Text'].str.strip()

In [242]:
leads['Combined_Text']  = leads['Combined_Text'] .str.replace(r'\s+', ' ')

C:\Users\Shweta\AppData\Local\Temp\ipykernel_21300\2739714447.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  leads['Combined_Text']  = leads['Combined_Text'] .str.replace(r'\s+', ' ')

In [243]:
import numpy as np
leads['Combined_Text'] = leads['Combined_Text'].replace('', np.nan)

In [250]:
bag_words = CountVectorizer(analyzer = message_text_process).fit(leads['Combined_Text'])

In [249]:
print(leads['Combined_Text'])

0       hyderabad Not Converted 14/8/prema: share me d...
1       pune Not Converted 14/8/prema: cal me tmrw, sh...
2                    bangalore Converted 16|AuG|moHan:rnr
3       mumbai Not Converted 14/8/17(Surendra):i want ...
4       hyderabad Not Converted 14/8/prema:rnr 16/8/pr...
                              ...
996     bangalore Not Converted 25/4/17(Surendra):plea...
997     chennai Not Converted 24/4/17(prema): need CT,...
998     bangalore Not Converted 24/Apr/moHan:intrstd i...
999     bangalore Not Converted 1/5/17(Surendra):pleas...
1000    bangalore Not Converted 24/4/17(prema): shared...
Name: Combined_Text, Length: 1001, dtype: object

In [179]:
bag_words

CountVectorizer(analyzer=<function message_text_process at 0x000001E158B02EE0>)

In [251]:
print(len(bag_words.vocabulary_))

3185

In [253]:
message_bagwords = bag_words.transform(leads['Combined_Text'])

In [161]:
message_bagwords

<3x3 sparse matrix of type '<class 'numpy.int64'>'
	with 4 stored elements in Compressed Sparse Row format>

In [254]:
from sklearn.feature_extraction.text import TfidfTransformer
tfidf_transformer = TfidfTransformer().fit(message_bagwords)

In [255]:
message_tfidf = tfidf_transformer.transform(message_bagwords)

In [256]:
print(message_tfidf.shape)
print(message_tfidf)

(1001, 3185)
  (0, 3075)	0.2542142556359904
  (0, 2968)	0.1830646144879076
  (0, 2832)	0.3152986951761907
  (0, 2812)	0.3731660145046911
  (0, 2566)	0.19196856037570362
  (0, 2537)	0.1389543392404843
  (0, 2442)	0.24003710902387346
  (0, 2352)	0.1259993396149884
  (0, 2322)	0.32075079050975697
  (0, 2172)	0.2639331098821091
  (0, 1960)	0.058590528595777
  (0, 1882)	0.38962249468325305
  (0, 602)	0.32075079050975697
  (0, 356)	0.32075079050975697
  (1, 3053)	0.1535995433978147
  (1, 2969)	0.10308940714391211
  (1, 2968)	0.13581456095391126
  (1, 2919)	0.1633612318020953
  (1, 2886)	0.2890586375810441
  (1, 2864)	0.1466442916769043
  (1, 2714)	0.17508517420141417
  (1, 2643)	0.17808211961616943
  (1, 2546)	0.1958104221294328
  (1, 2413)	0.5508043687781254
  (1, 2352)	0.18695633821054788
  :	:
  (1000, 2493)	0.1063796100776649
  (1000, 2352)	0.12493970353056107
  (1000, 2219)	0.07850666380170676
  (1000, 2217)	0.2084923499108617
  (1000, 2182)	0.05868272591725233
  (1000, 2177)	0.17951697736997752
  (1000, 2040)	0.1030391283375561
  (1000, 1988)	0.19317291314109605
  (1000, 1960)	0.029048895394307467
  (1000, 1953)	0.20467243667042662
  (1000, 1834)	0.1439773467371036
  (1000, 1743)	0.20467243667042662
  (1000, 1553)	0.1735143478225437
  (1000, 1374)	0.20467243667042662
  (1000, 1228)	0.1735143478225437
  (1000, 1193)	0.14752713802277104
  (1000, 1004)	0.1691424318813501
  (1000, 992)	0.18501387135187425
  (1000, 926)	0.17868522687065394
  (1000, 855)	0.15385578250399137
  (1000, 456)	0.14752713802277104
  (1000, 328)	0.19317291314109605
  (1000, 250)	0.20467243667042662
  (1000, 179)	0.20467243667042662
  (1000, 101)	0.20467243667042662

In [257]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(message_tfidf,leads['Status '], test_size = 0.2)

In [84]:
# from sklearn.naive_bayes import MultinomialNB
# spam_detect = MultinomialNB().fit(X_train,y_train)

In [285]:
from sklearn import svm
leads_status = svm.SVC(kernel='linear', C=10,gamma= 15).fit(X_train, y_train)

In [286]:
predicted = leads_status.predict(X_test)

In [287]:
predicted

array(['Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted'], dtype=object)

In [288]:
expected = y_test

from sklearn import metrics
print(metrics.classification_report(expected, predicted))
print(metrics.confusion_matrix(expected, predicted))

               precision    recall  f1-score   support

    Converted       0.75      0.10      0.18        29
Not Converted       0.87      0.99      0.93       172

     accuracy                           0.87       201
    macro avg       0.81      0.55      0.55       201
 weighted avg       0.85      0.87      0.82       201

[[  3  26]
 [  1 171]]

In [289]:
from sklearn.metrics import accuracy_score

accuracy_score(expected,predicted)

0.8656716417910447

In [290]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier()
classifier.fit(X_train, y_train)

RandomForestClassifier()

In [291]:
y_pred = classifier.predict(X_test)

In [292]:
from sklearn.metrics import accuracy_score
score = accuracy_score(y_test, y_pred)

In [293]:
score

0.8557213930348259

In [294]:
# pickling the model
import pickle
pickle_out = open("classifier.pkl", "wb")
pickle.dump(classifier, pickle_out)
pickle_out.close()